# Default owners for everything in the repo.
# @aws/sagemaker-featurestore-contributors will be requested for review when ever someone opens a pull request.
*   @aws/sagemaker-featurestore-contributors